<!-- card.component.html -->
<div *ngIf="shouldDisplay()" class="card h-100">
  <div class="card-body">
    <h5 class="card-title">{{ title }}</h5>
    <p class="card-text">Full Title: {{ fullTitle }}</p>
    <p class="card-text">Abbreviation: {{ abbreviation }}</p>
    <p class="card-text">Category: {{ category }}</p>
    <p class="card-text">Testament: {{ testament }}</p>
    <p class="card-text">Chapters: {{ chapters }}</p>
  </div>
  <div class="card-footer">
    <small class="text-muted">Order: {{ order }}</small>
  </div>
</div>
