<!-- book-list.component.html -->
<link rel="stylesheet" href="./book-list.component.css">
<div class="container mt-4">
  <h5>List of all Books in the Bible</h5>
  <div class="row">
    <div class="col-lg-4 col-md-6 mb-4" *ngFor="let book of books">
      <app-card
        [title]="book.title_short"
        [fullTitle]="book.title_full"
        [abbreviation]="book.abbreviation"
        [category]="book.category"
        [testament]="book.otnt"
        [chapters]="book.chapters"
        [order]="book.order"
      ></app-card>
    </div>
  </div>
</div>
